<header class="kairos-header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/" class="logo-link">
        <img src="/images/logo-kairos.png" alt="Kairos Academy Logo" />
      </a>
    </div>

    <nav class="menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/about-kairos" routerLinkActive="active">About Kairos</a>
      <a routerLink="/academy" routerLinkActive="active">Academy</a>
      <a routerLink="/learning-paths" routerLinkActive="active">Learning Paths</a>
      <a routerLink="/skill-matrix" routerLinkActive="active">Skill Matrix</a>
      <a routerLink="/rewards" routerLinkActive="active">Rewards</a>
      <a routerLink="/kairoslingo" routerLinkActive="active">Kairoslingo</a>
      
    </nav>
  </div>
</header>
